@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans';
}
body{
    background-color: #ede9e3;
}
.header-div{
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Pacifico';
    font-size: 40px;
    color: #956d26;
    text-decoration: none;
}
.navigation-container{
    border-radius: 10px;
}
.navigation-list,.footer-list{
    list-style: none;
}
.navigation-item{
    display: inline-block;
    padding: 5px 15px;
}
.navigation-item a{
    text-decoration: none;
    color: #ec6d0eed;
    font-size: 21px;
    font-weight: 500;
    padding: 5px 8px;
}
.activePage{
    color: #956d26 !important;
    border-bottom: 2px solid #9d620b; 
}
.navigation-item a:hover{
    color: #956d26;
    border-bottom: 2px solid #9d620b;
}
.register-btn{
    background-color: #d47004 !important;
}
.register-btn,.book-btn{
    background-color: #5c4c38;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 11px;
    border: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}
.register-btn:hover, .book-btn:hover{
    background-color: #e2600a;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 70px;
}
aside{
    width: 250px;
    margin-right: 40px;
}
.category-p, .author-p{
    font-size: 20px;
    padding: 13px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #5c4c38;
}
.category-p{
    margin-top: 30px;
}
.activeCategoryItem{
    background-color: #5c4c38;
}
#categoryList, #authorList{
    list-style: none;
    padding: 0;
}
#categoryList li,#authorList li{
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0px;
    background: #ede9e3;
    box-shadow:  5px 5px 10px #ccc8c3,
                -5px -5px 10px #ffffff;
     
}
#categoryList li:hover,#authorList li:hover {
    box-shadow: 7px 11px 40px 3px rgba(0,0,0,0.09);
    -webkit-box-shadow: 7px 11px 40px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 7px 11px 40px 3px rgba(0,0,0,0.09);
}
.data-category{
    margin: 10px 0;
}

section {
    width: 960px;
}
.search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c4c38;  
    padding: 0px 10px;
}
.mybook-p{
    font-size: 22px;
    color: #fff;
}
.input-div{
    width:430px;
    padding: 0px 14px 0 18px;
    margin: 6px;
    border: 1px solid #e4e8e3;
    border-radius: 50px;
    display: flex;
    background-color: #fff;
}
#searchInput{
    width: 100%;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 50px;
}
#searchButton{
    padding: 0;
    background-color: #fff;
    border: 0;
}
.searchLogo{
    margin-top: 4px;
}
.searchLogo:hover{
   cursor: pointer;
}
.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book {
    width: 220px;
    margin: 15px 7px;
    padding: 15px 0px;
    position: relative;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.book:hover {
    transform: scale(1.05);
}
.book-title {
    display: block;
    height: 48px;
    overflow: hidden;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}
.imageDiv{
    width: 135px;
    height: 215px;
    margin: 0 auto;
}
.imageDiv img{
    width: 100%;
    height: 100%;
}
.book-author {
    display: block;
    height: 45px; 
    font-size: 13px;
    color: #777;
    margin: 10px 0;
}
.iconHeart{
    font-size: 20px;
}

footer{
    background-color: #5c4c38;
    margin: 50px 0 0;
    padding: 70px 0 40px;
}
.footer-container{
    width: 804px;
    margin: 0 auto;
}
.footer-item{
    display: inline-block;
    padding: 5px 25px;
}
.footer-item a{
    text-decoration: none;
    color: #eae2e0;
    padding: 5px 8px;
    font-size: 18px;
}
.footer-item a:hover{
 color: #f4e0c2;
}
.activeFooterItem {
    color: #f4e0c2 !important;
}

